<%- include("partials/header"); -%>

    <div style="margin-bottom: 2rem;">
        <h4 style="text-align: center; margin: 1rem; color: #FCFFE7;" id="date"></h4>
    </div>
    <div class="container">
        <h3 class="text-center" style="color: #EB455F; margin-bottom: 2.5rem;">Bookmarks</h3>
        <% if (b === false ){ %>
            <h5 class="text-center">No Bookmarks found</h5>
        <% } %>
        <% data.forEach(function(item){ %>
            <div class="card text-white bg-dark mb-3 h-100 mx-auto" style="max-width: 25rem;">
                <div class="card-body">
                    <img style="margin-bottom: 1rem;" class="card-img" src="<%= item.article_img_url %>" alt="Card image">
                    <h5 style="font-weight: bolder; color: #FCFFE7;" class="card-title">
                        <%= item.article_title %>
                    </h5>
                    <p class="card-text">
                        <%= item.article_desc %>
                    </p>
                    <p style="font-weight: bold; color: #EB455F;" class="card-text"><a>Published by&nbsp;</a>
                        <a class="hover" style="color: #EB455F; text-decoration: none;" href="">
                            <%= item.article_provider %>
                        </a>
                    </p>
                    <form action="/deletebookmark" method="post">
                        <input name="id" type="hidden" value="<%= item._id %>">
                        <button type="submit" style="float:right" class="btn"><i class="fa-sharp fa-solid fa-trash fa-lg" style="color: #EB455F;"></i></button>
                    </form>
                    <p class="card-text text-center"><a style="text-decoration: none;" href="<%= item.article_link %>">Read Full
                            Story</a></p>
                </div>
            </div>
            <% }) %>
    </div>


<%- include("partials/footer"); -%>